h1{
    text-align: center;
    
}

h2{
  color: white;
  text-align: center;
  margin-top: 400px;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;

}

.name{
  margin-top: -80px;
  font-size: 26px;
  font-weight: bold ;
}

.teachr{
  display: flex;
  align-items: center;
  margin:0 auto;
  margin-top: 100px;
}

p{
  padding: 50px;
  font-size: 1.2em;
  margin:0 auto;
  text-align: center;
  max-width: 1100px;
  margin-top: 200px;
  color: white;

}

.cv{
  padding: 100px;
  width: 900px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

#company{
  font-size: 1.2em;
  margin:0 auto;
  margin-top: -220px;
  text-align: center;
  color: white;

}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.company{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
}

.grid1{
  grid-row: 1;
}

.navMenu a {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#one{
  color: #fddb3a;
}
#two{
  color: #fddb3a;
}
#three{
  color: #fddb3a;
}
#four{
  color: #fddb3a;
}
#five{
  color: #fddb3a;
}



.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 100%;
  opacity: 0;
  -webkit-transform: translateX(120px);
  transform: translateX(120px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(10px);
  transform: translateX(46px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(166px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  transform: translateX(310px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(484px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(385px);
    transform: translateX(616px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }